#bookmarksContainer {font-size: 0pt;}

#bookmarksContainer > span {
  display: inline-block;
  position: absolute;
  border-top: 3px solid #00000050;
  height: calc(100% - 35px);
  top: 35px;
  background-color: #fffdef;
  padding: 5px 0 5px 5px;
}

#favourites {
  width: 150px;
  border-right: 2px solid white;
  left: 0;
}

#bookmarks {
  width: calc(100% - 164px);
  border-left: 2px solid #0000003d;
  right: 0;
}

.folderContents

.bookmark {
  display: block;
  position: relative;
  width: 100%;
  overflow: visible;
  z-index: 1
}

.link {
  display: inline-block;
  position: relative;
  padding: 5px 0;
  height: 16px;
  width: calc(100% - 16px);
}

.link::before {
  content: "";
  position: absolute;
  background-color: #00000030;
  height: 100%;
  width: 0;
  z-index: 0;
  transition-duration: 0.15s;
  top: 0px;
}

.link:hover::before {
  width: 100%;
}

.link.folder {cursor: default;}

.link.page {cursor: pointer;}

.link .icon {
  display: inline-block;
  position: absolute;
  width: auto;
  height: 16px;
  max-width: 20px;
  left: 2px;
}

.link .name {
  display: inline-block;
  position: absolute;
  left: 22px;
  height: 16px;
  width: calc(100% - 22px);
  line-height: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 12px;
}

.bookmark .menuBtn {
  display: inline-block;
  position: absolute;
  right: 0;
  height: 26px;
  width: 16px;
}

.bookmark .menuBtn:hover {
  background-color: #00000040;
}

.bookmark .menuBtn:active {
  background-color: #00000075;
}

.bookmark .menuBtn div {
  display: block;
  position: relative;
  margin: 3px 7px;
  top: 4px;
  height: 2px;
  width: 2px;
  background: #000000;
}

.bookmark .menu {
  display: inline-block;
  position: absolute;
  right: 16px;
  width: 60px;
  height: auto;
  font-size: 0pt;
  right: 16px;
}

.bookmark .menu > button {
  font-size: 14pt;
  height: 20px;
  width: 80px;
}

.folderContents .back {
  position: relative;
  background-color: #40004d ;
  height: 20px;
  width: 100%;
}

.folderContents .back div {
  position: relative;
  height: 0px;
  width: 0px;
  border-color: transparent transparent #7e2279 transparent;
  border-width: 8px 80px;
  border-style: solid;
  top: -2px;
  left: 50%;
  transform: translateX(-50%);
}

.folderContents .back:hover div {
  border-color: transparent transparent #a3429e transparent;
}