@font-face {
  font-family: "Advent Pro";
  src: url("Fonts/AdventPro-Medium.ttf");
}

@font-face {
  font-family: "Roboto Mono";
  src: url('Fonts/RobotoMono-Medium.ttf');
}

* {
  margin: 0px;
  padding: 0px;
}

html, body  {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgb(55, 55, 55);
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: rgb(24, 24, 24);
  transition: 0.5s;
}

::-webkit-scrollbar-thumb:active {
  background-color: rgb(100, 100, 100);
}

/* Container */
.container {
  width: 200%;
  height: 100%;
  transition: 0.5s;
  transform: translateX(-50%) translateX(10px);
}

.container.menuout {
  transform: translateX(-50%) translateX(200px);
}

.container.contentsout {
  transform: translateX(0);
}

/* Background - first thing user sees */
.background {
  position: relative;
  width: 50%;
  height: 100%;
  /* background-image -> set by script in tab.html */
  background-position: center;
  background-size: cover;
  float: right;
}

/* Interface - includes slide out menu and user requested information */
.interface {
  position: relative;
  float:left;
  width: 50%;
  height: 100%;
}

.interface .content {
  width: calc(100% - 200px);
  height: 100%;
  background-color: #ffdeac;
  float:left;
  overflow-y: visible;
}

.backarrow {
  position: absolute;
  margin: 5px;
  height: 25px;
  width: 50px;
  border-radius: 12.5px;
  background-color: rgb(150, 0, 255);
  right: 10px;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.3);
  z-index: 1;
  border:none;
  outline: none;
}

.backarrow div {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateX(-2px) translateY(-1px) rotate(45deg);
  height: 8px;
  width: 8px;
  border: solid white;
  border-width: 4px 4px 0 0;
}

.backarrow:hover {
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.1);
}

.backarrow:active {
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3);
}

.refresh {
  background-color: rgba(76, 0, 135, 1);
  height: 20px;
  width: 40px;
  margin: 12.5px;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.1);
  color: white;
  float: left;
  position: relative;
  margin: none;
  border-radius: 10px;
  text-align: center;
  padding: 2px 0;
  user-select: none;
  text-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

.refresh:hover {
  text-shadow: 0 0 3px rgba(255, 255, 255, 1);
}

.filtercontainer {
  display: inline-block;
  position: relative;
  height: 30px;
  padding: 10px;
}

.filter {
  display: block;
  position: relative;
  border: none;
  height: 30px;
  width: 100px;
  margin: none;
  outline: none;
  background: none;
}

.filtericon {
  display: inline-block;
  position: relative;
  float: left;
  height: 100%;
  width: 20px;
}

.filter .filtericon div {
  display: block;
  position: relative;
  height: 3px;
  background: rgb(98, 0, 175);
  margin: 5px 0;
}

.filtericon div:nth-child(1) {
  width: 20px;
}

.filtericon div:nth-child(2) {
  width: 15px;
}

.filtericon div:nth-child(3) {
  width: 10px;
}

.filter:hover .filtericon div {
  box-shadow: 0 0 5px rgb(98, 0, 175);
}

.filter:active .filtericon div {
  box-shadow: 0 0 15px rgb(98, 0, 175);
}

.filter.disabled .filtericon div {
  background-color: rgb(64, 64, 64);
}

.filter.disabled:hover .filtericon div {
  box-shadow: none;
}

.filter.disabled:active .filtericon div {
  box-shadow: none;
}

.filtertext {
  display: inline-block;
  font-style: normal;
  font-family: "Roboto Mono";
  font-size: 16pt;
  top: 0;
  float: left;
  transform: translateX(5px);
  color: rgb(98, 0, 175);
  user-select: none;
}

.filter.disabled .filtertext {
  color: rgb(64, 64, 64);
}

.filter:hover .filtertext {
  text-shadow: 0 0 5px rgb(76, 0, 135, 0.4);
}

.filter:active .filtertext {
  text-shadow: 0 0 15px rgb(76, 0, 135, 1);
}

.filter.disabled .filtertext {
  color: rgb(64, 64, 64);
}

.filter.disabled:hover .filtertext {
  text-shadow: none;
}

.filter.disabled:active .filtertext {
  text-shadow: none;
}

.info {
  height: 100%;
  width: calc(100%-200px);
  position: relative;
  box-shadow: inset 0 0 50px rgba(255, 107, 0, 0.25);
  background-color: rgb(255, 247, 237);
  overflow-y: auto;
}

.info > div {
  z-index: 0;
}

.modalbg {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}

.modalbg.show {
  display: block;
}

.modalbg.hide {
  display: none;
}

.infocontent {
  display: none;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.infocontent.open {
  display: block
}
