* {
  margin: 0px;
  padding: 0px;
}
html, body {
  height: 100%
}

body{
  background-image: url("backgrounds/1.jpg");
  background-position: center;
  background-attachment: fixed;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.tabmenu {
  background-color: black;
  flex: 0 1 50px;
}

.tab {

}

.tab:hover {

}

.tab:active {

}



.box .content {
  background-color: white;
  flex: 1 1 auto;
}

.box .foot {
  background-color: red;
  flex: 0 1 60px;
}

#settingsbutton {
  float: right;
  height: auto;
  width: auto;
  max-height: 60px;
  max-width: 60px;
  opacity: 0.5;
  transition: 0.3s;
}

#settingsbutton:hover {
  opacity: 1.0;
  transform: rotate(23deg);
}

#settingsbutton:active {
  transform: rotate(0deg);
}
